body {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: white;
}

.card {
  width: 315px;
  height: 437px;
  background-color: white;
  margin: 0px;
}

.card2 {
  border: 0.5px rgb(173, 166, 166) solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h2 {
  font-size: 25px;
  margin: 15px;
  margin-top: 0px;
  text-align: center;
}

.photo {
  width: 315px;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.bottom-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 30px 270px 5px 20px;
}
.opis {
  color: grey;
  text-align: center;
}

card3 {
  border: 0.5px rgb(173, 166, 166) solid;
}
